@import url("https://fonts.googleapis.com/css2?family=Barriecito&family=Dosis:wght@200;300;400&family=Inter&family=Lato:ital,wght@0,300;1,300&family=Lora:ital,wght@0,500;1,500&family=Montserrat:ital@0;1&family=Playfair+Display:ital,wght@0,600;1,500&family=Roboto:ital@0;1&display=swap");
@import "./_global";
:root {
  --barbi: "Barriecito", cursive;
  --dosis: "Dosis", sans-serif;
  --inter: "Inter", sans-serif;
  --lato: "Lato", sans-serif;
  --lora: "Lora", serif;
  --monster: "Montserrat", sans-serif;
  --playFair: "Playfair Display", serif;
  --roboto: "Roboto", sans-serif;
}
h2::selection{
    color: blue;
    background-color: red;
}
p{
    font-family: var(--roboto);
}
h2{
    font-family: var(--lora);
}
@mixin btn ($bgc,$bgc2){
    padding: 5px 25px;
    font-size: 1.3rem;
    font-family: var(--barbi);
    color: white;
    border: 0;
    transition: all 0.3s linear;
    background-color: $bgc;
    &:hover{
        background-color:$bgc2;
    }
}
@mixin card($bgc){
    width: 100%;
    padding: 2rem 0;
    background-color: $bgc;
}
@mixin grid($repeat,$item){
    display: grid;
    grid-template-columns:$repeat;
    gap: 2rem;
    align-items: $item;
}
@mixin title($textCenter){
    text-align: $textCenter;
    font-size: 1.8rem;
    font-family: var(--inter);
    color: white;
    font-family: var(--lora);
}
.navigation{
    width: 100%;
    height: 9vh;
    transition: all 0.5s linear;
    background-color: #000;
    .logo{
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
        padding: 5px 5px;
    }
    .navbar{
        height: 9vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .fa-solid{
            color: #FE5B29;
            padding: 8px 20px;
            background-color: white;
            border-radius: 10px;
            cursor: pointer;
            font-size: 1.3rem;
            display: none;
        }
        .nav{
            a{
                color: white;
                margin-left: 5px;
                margin-right: 5px;
                font-size: 1.1rem;
                font-family: var(--lora);
                transition: all 0.5s ease;
                cursor:copy;
                &:hover{
                    color: orange;
                }
            }
        }
    }
}
.extra__navigation{
    background-color: #FE5B29;
    width: 100%;
    height: 7vh;
    .extra__navbar{
        width: 70%;
        height: 7vh;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a{
            color: white;
            transition: all 0.5s linear;
            font-family: var(--lato);
            &:hover{
                color: blue
            }
        }
    }
}
.header{
    width: 100%;
    height: 100vh;
    background-image: url(/img/banner-bg.png);
    background-size: cover;
    .banner{
        width: 50%;
        padding-top: 15%;
        h1{
            &:first-of-type{
                font-size: 3rem;
                font-family: var(--lora);
            }
            &:last-of-type{
                font-size: 3rem;
                font-family: var(--lora);
                color: #FE5B29;
            }
        }
        p{
            width: 75%;
            margin-bottom: 1rem;
        }
        button{
            &:first-of-type{
                @include btn(#FE5B29, black)
            }
            &:last-of-type{
                @include btn(black, #FE5B29)
            }
            // margin-bottom: 2rem;
        }
        .swiper{
            height: 300px;
        }
       
    }
}
.about{
    @include card(#fff);
}
.about__content{
    @include grid(repeat(2,1fr), center);
    .item{
        h2{
            font-size: 2.5rem;
            margin-bottom: 1rem;
            span{
                color: #FE5B29;
            }
        }
        p{
            margin-bottom: 1rem;
            text-align: justify;
            font-family: var(--dosis);
        }
        button{
            @include btn(#FE5B29, black)
        }
    }
}
.filter{
    @include card(#2b2b2b);
    .title{
        @include title(left);
        p{
            font-size: 1rem;
        }
    }
}
.filter__content{
    margin-top: 2rem;
    @include grid(repeat(4,1fr), center);
    .item{
    select{
        width: 70%;
        height: 5vh;
        font-size: 1.3rem;
        outline: 0;
    }
    button{
        @include btn(#FE5B29, #2b2b2b)
    }
    }
}
.offers{
    @include card(#fff);
    .title{
        h2{
            text-align: center;
            font-size: 2.2rem;
        }
    }
}
.offers__content{
    @include grid(repeat(3,1fr), center);
    margin-top: 1rem;
    .item{
        padding: 1rem;
        text-align: center;
        box-shadow: 0 0  10px gray;
        height: 60vh;
        transition: all 0.4s linear ;
        &:hover{
            box-shadow: none;
        }
        .img{
            margin-bottom: 1rem;
            height: 30vh;
        }
        h3{
            font-family: var(--playFair);
            font-size: 1.5rem;
        }
        p{
            font-size: 1.2rem;
            color: #FE5B29;
            font-family: var(--lora);
            font-weight: 900;
        }
        button{
            @include btn(#FE5B29, #000);
            margin-top: 2rem;
        }
    }
}
.choose{
    @include card(#2b2b2b);
    color: white;
    .title{
        h2{
            @include title(left)
        }
    }
}
.choose__content{
    @include grid(repeat(3,1fr), center);
    margin-top: 2rem;
    img{
        width: 18%;
        height: 18%;
        margin-bottom: 1rem;
    }
    h3{
        font-size: 1.3rem;
        font-family: var(--inter);
    }
    p{
        margin-top: 0.5rem;
        font-family: var(--monster);
    }
}
.costumer{
    @include card(#fff);
    .title{
        h2{
            @include title(center);
            color: #000;
        }
        margin-bottom: 4rem;
    }
}
.costumer__content{
    @include grid(repeat(2,1fr), center);
    width: 80%;
    // text-align: center;
    margin: 0 auto;
    .item{
        .card{
            width: 80%;
            padding: 1rem 1rem;
            box-shadow: 0 0  20px gray;
            text-align: center;
            p{
                width: 70%;
                margin: 0 auto;
                margin-top: 1rem;
            }
            .img{
                width: 30%;
                margin: 0 auto;            
                // margin-top: -50px;
                margin-bottom: 2rem;
            }
        }
        .img{
            width: 5%;
            margin: 0 auto;
            margin-top: 5rem;
        }
    }
}
.contact{
    @include card(#fff);
    .title{
        h2{
            @include title(center);
            color: #000;
        }
        margin-bottom: 3rem;
    }
}
.contact__content{
    margin: 0 auto;
    background-color: #FE5B29;
    padding-top: 10rem;
    padding-bottom: 2rem;
    border-radius: 52% 48% 51% 50% / 100% 100% 0% 0%  ;
    form{
        display: flex;
        flex-direction: column;
        width: 60%;
        margin: 0 auto;
        gap: 1rem;
        input{
            height: 7vh;
            font-size: 1.3rem;
            font-family: var(--monster);
            text-align: center;
            border: 0;
            outline: 0;
            border-radius: 5px;
        }
        textarea{
            padding-top: 1rem;
            height: 12vh;
            font-size: 1.3rem;
            font-family: var(--monster);
            text-align: center;
            border: 0;
            outline: 0;
            border-radius: 5px;
        }
        button{
            @include btn(red, white);
            width: 20%;
            margin: 0 auto;
            &:hover{
                color: #000;
            }
        }
    }
}
.footer{
    @include card(#2b2b2b);
    .title{
        img{
            width: 20%;
            margin: 0 auto;
        }
    }
}
.footer__content{
    @include grid(repeat(5,1fr), center);
    color: white;
    margin-top: 2rem;
    .item{
        margin-top: 3rem;
        margin-bottom: 1rem;
        height:30vh;
        h2{
            margin-bottom: 1rem;
        }
        p{
             margin-bottom: 1rem;
        }
        textarea{
            border: 0;
            outline: 0;
            font-size: 1rem;
            background: none;
            border-bottom: 1px solid white;
        }
        button{
        @include btn(#FE5B29, #fff);
        &:hover{
        color: #000;
        }
    }
    a{
        color: #fff;
        transition: all 0.3s linear;
        margin-bottom: 0.4rem;
        &:hover{
            color: blue;
        }
    }
    .fa-brands{
        padding: 10px 10px;
        color: #000;
        background-color: #fff;
        font-size: 1.5rem;
        border-radius: 100px;
        margin-left: 5px 5px;
        transition: all 0.5s linear;
        margin-top: 1rem;
        &:hover{
            background-color: #FE5B29;
            color: #fff;
        }
    }
    }
}
.copy{
    @include card(#2b2b2b);
    color: white;
    // margin-top: 3rem;
    p{
        font-family: var(--lato);
        text-align: center;
    }
}
.short{
    height: 7vh;
  }
    .long{
        height: 100%;
    }    